<div class="box">
  <button (click)="Dropdown()" class="icon-box" [ngStyle]="{'background-color': MainColor}">
    <img src="../../../../assets/Chat/icon/{{MainIcon}}.svg" alt="Icon" class="icon">
  </button>

  <div style="clear: both;"></div>


  <div (clickOutside)="TryDropdown()" *ngIf="dropdown" class="container  icons">
    <div class="row">
      <div class="col-2" *ngFor="let i of icons">
        <button (click)="ChangeMainIcon(i)" (click)="Send()" class="icon-box my-2">
          <img src="../../../../assets/Chat/icon/{{i}}.svg" alt="Icon" class="icon">
        </button>
      </div>
    </div>
  </div>
</div>
