
<div class="logo container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="icon">
        <app-icon [Icon]="Chat.icon" [Color]="Chat.color"></app-icon>
      </div>
    </div>
    <div class="col-12">
      <h1>{{Chat.name}}</h1>
    </div>
  </div>
</div>

  <app-users></app-users>
  <app-chat-settings></app-chat-settings>
<br/>

<br/>


<div class="logo container-fluid">
  <div class="row">
    <div class="col-6 offset-3">
      <app-leave-chat></app-leave-chat>
    </div>
  </div>
</div>
