
.icon-attach:before { content: '\e800'; } /* '' */
.icon-th-large:before { content: '\e801'; } /* '' */
.icon-th:before { content: '\e802'; } /* '' */
.icon-camera:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-users:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-music:before { content: '\e807'; } /* '' */
.icon-eye:before { content: '\e808'; } /* '' */
.icon-eye-off:before { content: '\e809'; } /* '' */
.icon-thumbs-up:before { content: '\e80a'; } /* '' */
.icon-thumbs-down:before { content: '\e80b'; } /* '' */
.icon-upload:before { content: '\e80c'; } /* '' */
.icon-download:before { content: '\e80d'; } /* '' */
.icon-to-start-alt:before { content: '\e80e'; } /* '' */
.icon-fast-fw:before { content: '\e80f'; } /* '' */
.icon-fast-bw:before { content: '\e810'; } /* '' */
.icon-stop:before { content: '\e811'; } /* '' */
.icon-pause:before { content: '\e812'; } /* '' */
.icon-to-end:before { content: '\e813'; } /* '' */
.icon-to-start:before { content: '\e814'; } /* '' */
.icon-to-end-alt:before { content: '\e815'; } /* '' */
.icon-play-circled2:before { content: '\e816'; } /* '' */
.icon-shuffle:before { content: '\e817'; } /* '' */
.icon-arrows-cw:before { content: '\e818'; } /* '' */
.icon-ccw:before { content: '\e819'; } /* '' */
.icon-cw:before { content: '\e81a'; } /* '' */
.icon-resize-full:before { content: '\e81b'; } /* '' */
.icon-resize-small:before { content: '\e81c'; } /* '' */
.icon-cog:before { content: '\e81d'; } /* '' */
.icon-cog-1:before { content: '\e81e'; } /* '' */
.icon-cog-circled:before { content: '\e81f'; } /* '' */
.icon-info-circled:before { content: '\e820'; } /* '' */
.icon-help-circled:before { content: '\e821'; } /* '' */
.icon-help:before { content: '\e822'; } /* '' */
.icon-cancel:before { content: '\e823'; } /* '' */
.icon-cancel-circled:before { content: '\e824'; } /* '' */
.icon-cancel-circled2:before { content: '\e825'; } /* '' */
.icon-ok-circled2:before { content: '\e826'; } /* '' */
.icon-ok-circled:before { content: '\e827'; } /* '' */
.icon-ok:before { content: '\e828'; } /* '' */
.icon-th-list:before { content: '\e829'; } /* '' */
.icon-picture:before { content: '\e82a'; } /* '' */
.icon-right-open:before { content: '\e82b'; } /* '' */
.icon-down-open:before { content: '\e82c'; } /* '' */
.icon-left-open:before { content: '\e82d'; } /* '' */
.icon-up-open:before { content: '\e82e'; } /* '' */
.icon-emo-unhappy:before { content: '\e82f'; } /* '' */
.icon-search:before { content: '\e830'; } /* '' */
.icon-plus:before { content: '\e831'; } /* '' */
.icon-brush:before { content: '\e832'; } /* '' */
.icon-th-thumb:before { content: '\f00a'; } /* '' */
.icon-logout:before { content: '\f02d'; } /* '' */
.icon-left-circled:before { content: '\f0a8'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-up-circled:before { content: '\f0aa'; } /* '' */
.icon-down-circled:before { content: '\f0ab'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-sort-name-up:before { content: '\f15d'; } /* '' */
.icon-sort-name-down:before { content: '\f15e'; } /* '' */
.icon-sort-number-up:before { content: '\f162'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-history:before { content: '\f1da'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */